{% extends 'inhome_app/base.html' %} {% block title %}inHomeGen | Generator{% endblock %}
<div>{% block content %} {% load static %}</div>

    <!-- Card -->
    <div class="rounded-md border border-gray-400 my-2 text-gray-400 md:mt-6 py-4 px-2 hover:border-yellow-400 pt-20"
    >
    
        <div class="grid grid-cols-2 gap-4 mx-10">
            <img
            src="{% static imgData.path  %}"
            alt="genImg"
            class="h-[500px] w-auto border-4 rounded-md mx-auto mb-4"
            />
            <div class="text-xl font-bold pt-6">
                <div class=""><i class="fa-solid fa-layer-group mr-2 mb-4"></i>Detected Object </div>
                {% if objects_init_list %}
                    {% for objData in objects_init_list %}
                    <div class="text-left">
                        {{  forloop.counter }} : {{ objData | title }}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        



        <div class="text-3xl font-bold text-center mt-10">Recommended</div>
        
        <section class="text-gray-400" id="software">
            <div
              id="seasonalItems"
              class="grid grid-cols-1 md:grid-cols-4 gap-4 px-6 pb-6"
            >
      
              <!-- Card -->
              <div class="rounded-md border border-gray-400 my-2 md:mt-6 py-4 px-2 hover:border-yellow-400" >
                <img src="https://images-na.ssl-images-amazon.com/images/I/810YuvMKhkL.jpg" alt="genImg" class="h-80 w-auto border-4 rounded-md mx-auto mb-4" />

                <div class="my-4">
                  
                  <div class="grid grid-cols-2 gap-4">
                      <a href="" class="text-left text-xs text-yellow-400 text-center p-2 border my-4 rounded-md hover:underline hover:bg-gray-800"><i class="fa-solid fa-indian-rupee-sign mr-2"></i>9000</a>
                      
                      <div class="text-left text-xs text-yellow-400 text-center p-2 border my-4 rounded-md hover:underline hover:bg-gray-800"><i class="fa-solid fa-cart-shopping mr-2"></i><a href="https://www.amazon.in/AmazonBasics-Back-Mesh-Chair-Black/dp/B00IIFW2L4">Buy</a></div>
                  </div>
                  <div class="text-left text-xs mb-4">
                    <b>Product : </b> Chair
                  </div>
                  <div class="text-left text-xs">
                    <b>Description :</b> Comfortable seating furniture
                  </div>
      
                </div>
              </div>
      
              <!-- Card -->
              <div class="rounded-md border border-gray-400 my-2 md:mt-6 py-4 px-2 hover:border-yellow-400" >
                <img src="https://m.media-amazon.com/images/I/81FjmmpkGGL._AC_UF1000,1000_QL80_.jpg" alt="genImg" class="h-80 w-auto border-4 rounded-md mx-auto mb-4" />

                <div class="my-4">
                  
                  <div class="grid grid-cols-2 gap-4">
                      <a href="" class="text-left text-xs text-yellow-400 text-center p-2 border my-4 rounded-md hover:underline hover:bg-gray-800"><i class="fa-solid fa-indian-rupee-sign mr-2"></i>15000</a>
                      
                      <div class="text-left text-xs text-yellow-400 text-center p-2 border my-4 rounded-md hover:underline hover:bg-gray-800"><i class="fa-solid fa-cart-shopping mr-2"></i>Buy</div>
                  </div>
                  <div class="text-left text-xs mb-4">
                    <b>Product : </b> Sofa
                  </div>
                  <div class="text-left text-xs">
                    <b>Description :</b> this is a beautiful sofa for entire family
                  </div>
      
                </div>
              </div>
      
              <!-- Card -->
              <div class="rounded-md border border-gray-400 my-2 md:mt-6 py-4 px-2 hover:border-yellow-400" >
                <img src="https://m.media-amazon.com/images/I/71kjeOuSuHL._AC_UF894,1000_QL80_.jpg" alt="genImg" class="h-80 w-auto border-4 rounded-md mx-auto mb-4" />

                <div class="my-4">
                  
                  <div class="grid grid-cols-2 gap-4">
                      <a href="" class="text-left text-xs text-yellow-400 text-center p-2 border my-4 rounded-md hover:underline hover:bg-gray-800"><i class="fa-solid fa-indian-rupee-sign mr-2"></i>3000</a>
                      
                      <div class="text-left text-xs text-yellow-400 text-center p-2 border my-4 rounded-md hover:underline hover:bg-gray-800"><i class="fa-solid fa-cart-shopping mr-2"></i>Buy</div>
                  </div>
                  <div class="text-left text-xs mb-4">
                    <b>Product : </b> Decorative plants
                  </div>
                  <div class="text-left text-xs">
                    <b>Description :</b> Beautiful potted plants for greenery in the house
                  </div>
      
                </div>
              </div>
      
              <!-- Card -->
              <div class="rounded-md border border-gray-400 my-2 md:mt-6 py-4 px-2 hover:border-yellow-400" >
                <!-- <img src="https://m.media-amazon.com/images/I/71kjeOuSuHL._AC_UF894,1000_QL80_.jpg" alt="genImg" class="h-80 w-auto border-4 rounded-md mx-auto mb-4" /> -->

                <div class="my-4">
                  <center><h2>Total Cost</h2></center>
                  <div class="grid  gap-4">
                      <a href="" class="text-left text-xs text-yellow-400 text-center p-2 border my-4 rounded-md hover:underline hover:bg-gray-800"><i class="fa-solid fa-indian-rupee-sign mr-2"></i>27000</a>
                      
                      <!-- <div class="text-left text-xs text-yellow-400 text-center p-2 border my-4 rounded-md hover:underline hover:bg-gray-800"><i class="fa-solid fa-cart-shopping mr-2"></i>Buy</div> -->
                  </div>
                  <div class="text-left text-xs mb-4">
                    <b>To buy all recommended products please use the links provided. We will provide greatest discount for them. </b> 
                  </div>
                  <div class="text-left text-xs">
                    <b>Description :</b> Beautiful potted plants for greenery in the house
                  </div>
      
                </div>
              </div>

            </div>
          </section>

        </div>
    </div>

{% endblock %}

