{% extends 'inhome_app/base.html' %} {% block title %}inHomeGen | Gallry{% endblock %}
<div>{% block content %} {% load static %}</div>


    <!-- Body -->
    <section class="mt-20">
        
        <!-- Left side : Gen output -->
        <div class="col-span-3 border">

            <!-- Season -->
            <section class="text-gray-400" id="software">
            
                <div id="seasonalItems" class="grid grid-cols-1 md:grid-cols-4 gap-4 px-6 pb-6">
                
                  {% if imgData %}
                    {% for iData in imgData %}
                
                    <!-- Card -->
                    <div class="rounded-md border border-gray-400 my-2 md:mt-6 py-4 px-2 hover:border-yellow-400">
                        <img src="{% static iData.path  %}" alt="genImg" class="h-80 w-auto border-4 rounded-md mx-auto mb-4"> 
                        <a href="{% url 'convert_image_to_svg' myid=iData.id %}" download="output.svg"><i class="fa-solid fa-download mr-2"></i>SVG</a>
                        <!-- <div class="text-xl font-bold text-center">itemName</div> -->
                        <div class="my-4">
                            <div class="text-left text-xs mb-4"><b>Model : </b>{{ iData.modelName }}</div>
                            <div class="text-left text-xs"><b>Prompt : <br></b>{{ iData.prompt }}</div>
                        </div>
                    </div>
                
                   
                    {% endfor %}
                  {% endif %}
                          


                

                
                
                
                    </div>

            </section>

        </div>
    </section>

{% endblock %}